/*
Project Name: Whitman Simple Portfolio
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/******************************************
/* BASE STYLES
/*******************************************/

/*html
{
  overflow-y:scroll;
}*/

body {
  background: url('../images/hawaii_clouds.jpg');
  background-repeat: no-repeat;
  background-position: center center fixed;
  background-size: cover;
  text-align: center;
  font-family: 'IM Fell Great Primer SC', serif;
  color:#222;
  font-size:16px;
}

.container_12
{
  margin-left: auto;
  margin-right: auto;
}

header
{
  font-size: 25px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

hr
{
  width: 800px;
  margin-bottom: 20px;
}

#main {
  background: rgb(255, 255, 255) transparent; /* default fallback */
  background: rgba(255, 255, 255, 0.8); /* nice browsers */
  height: auto;
  color: #000;
  margin-left: auto;
  margin-right: auto;

}

.grid_4
{
/*  padding: 2px;*/
  margin-right: 3px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: 'IM Fell Great Primer SC', serif;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

h2 {
  text-align: center;
}


.show_feature
{
 overflow: visible;
}

#hide_button
{
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
padding: 8px 14px 9px;
background: #2C2C2C url(/images/alert-overlay.png) repeat-x;
display: inline-block;
color: #fff;
text-decoration: none;
font-weight: bold;
line-height: 1;
position: relative;
cursor: pointer;
font-family: 'IM Fell Great Primer SC', serif;
font-size: 20px;
}

#hide_button:hover
{
  color: #2C2C2C ;
  background: #346BA7 url(/images/alert-overlay.png) repeat-x;
}

#contact a
{
  text-align: center;
  text-decoration: none;
  color: #000;
}


#contact a:hover
{
  text-align: center;
  color: #1470BC;
  text-decoration: underline;
}


footer {
  text-align: right;
  padding: 10px 0px;
  color: white;
}



/******************************************
/* FILTERS
/*******************************************/

.gallery img {
  display: block;
  float: left;
  margin-bottom: 25px;
  position: relative;
/*  -webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.5);*/

}

/*Left and Right margins to images in the middle column*/
/*This selects the 2nd, 5th and 8th elements*/
/*#gallery a:nth-child(3n+2) {
  margin: 0 25px 25px 25px;
}*/


.gallery img {
  display: block;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  -webkit-border-radius: 3px 4px 6px #0D0A03;
  -moz-border-radius: 3px 4px 6px #0D0A03;
  box-shadow: 3px 4px 6px #0D0A03;
}

/*Hover effects*/
.gallery img:hover {
  -webkit-filter: none; /*Returns to default state*/
  border-radius: 10px;
  -webkit-border-radius: 5px 6px 7px #0D0A03;
  -moz-border-radius: 5px 6px 7px #0D0A03;
  box-shadow: 5px 6px 7px #0D0A03;
}
/*Default state for brightness has to be specified specifically*/
.gallery img.brightness:hover {
  -webkit-filter: brightness(0);
}

/*Title styles*/
/*.title {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 1;
  padding: 5px 7px;
  background: rgba(0, 0, 0, 0.6);
}*/


/*Filter styles*/
.saturate {-webkit-filter: saturate(3);}
.grayscale {-webkit-filter: grayscale(100%);}
.contrast {-webkit-filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px);}
.invert {-webkit-filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);}

